<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>demo</title>
    <style>
      .ant-pro-basicLayout .ant-layout-header.ant-pro-fixed-header {
        position: static !important;
      }
    </style>
  </head>
  <body>
    <div id="mountNodeForDemo"></div>
  </body>
</html>
